500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

101 CURSOR MOVEABLE PURE LOADONCALL DISCARDABLE "cur.cur"

201 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\bg.bmp" 
202 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\maze.bmp" 


1 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\red.bmp" 
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\blue.bmp"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\yellow.bmp"  
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\purple.bmp"
5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\green.bmp"
6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\orange.bmp"

7 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\empty.bmp"

301 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\score.bmp"
302 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\border.bmp"

310 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\0.bmp"
311 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\1.bmp"
312 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\2.bmp"
313 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\3.bmp"
314 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\4.bmp"
315 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\5.bmp"
316 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\6.bmp"
317 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\7.bmp"
318 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\8.bmp"
319 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\9.bmp"

321 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\move.bmp"
322 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\border_move.bmp"
323 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\win.bmp"
324 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\\lose.bmp"

